.hidden {
  visibility: hidden !important;
}

.gone {
  display: none !important;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: 'Open Sans', sans-serif;
  color: #333;
  font-size: 2.5vh;
}

a, a:hover, a:focus, a:visited {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

button, button:hover, button:focus {
  cursor: pointer;
  border: 0;
  outline: 0;
  color: inherit;
  background-color: transparent;
  padding: 0;
}

select, select:hover, select:focus {
  border: 0;
  outline: 0;
  cursor: pointer;
}

input {
  border: 0;
  outline: 0;
}

.grecaptcha-badge {
  bottom: 8vh !important;
}

#navi {
  background-color: #F4F8E6;
  width: 100%;
  min-height: 7vh;
  font-size: 3.3vh;
  line-height: 7vh;
  text-align: center;
  font-family: 'Russo One', sans-serif;
  color: #666;
  position: absolute;
  top: 0;
  z-index: 1000;
  -webkit-box-shadow: 0 3px 1vh 0 #333;
  -moz-box-shadow: 0 3px 1vh 0 #333;
  box-shadow: 0 3px 1vh 0 #333;
}

#navi>img {
  height: 5vh;
  width: auto;
  position: absolute;
  top: 1vh;
  left: 1vh;
}

#navi>div {
  width: 100%;
  padding-top: 0.2vh;
  -webkit-transition: opacity 0.6s ease;
  -moz-transition: opacity 0.6s ease;
  transition: opacity 0.6s ease;
}

#navi-menu {
  opacity: 0;
  position: absolute;
  top: 0;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

#navi-menu>div>span {
  padding-left: 2vh;
  padding-right: 2vh;
  height: 7vh;
  display: inline-block;
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

#tiles {
  height: 86vh;
  margin-top: 7vh;
  position: relative;
}

.schedule #tiles {
  height: 93vh;
}

#foot {
  background-color: #666;
  height: 7vh;
  color: #F4F8E6;
  position: absolute;
  bottom: 0;
  width: 100%;
  -webkit-transition: height 0.5s ease;
  -moz-transition: height 0.5s ease;
  transition: height 0.5s ease;
}

#foot-mobile {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #666;
  height: 8vh;
  max-height: 8vh;
  color: #F4F8E6;
  -webkit-transition: height 0.5s ease, max-height 0.5s ease;
  -moz-transition: height 0.5s ease, max-height 0.5s ease;
  transition: height 0.5s ease, max-height 0.5s ease;
}

#foot-contact, #foot-mobile-title {
  width: 100%;
  text-align: center;
  font-family: 'Russo One', sans-serif;
  font-size: 3vh;
  line-height: 8vh;
}

#foot-mobile-title {
  opacity: 1;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

#foot-contact {
  line-height: 6vh;
}

#foot-title {
  font-size: 2.5vh;
  font-family: 'Russo One', sans-serif;
  line-height: 4.5vh;
  letter-spacing: 1px;
  position: absolute;
  bottom: 19vh;
  width: 100%;
  text-align: center;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease 0.3s;
  -moz-transition: opacity 0.5s ease 0.3s;
  transition: opacity 0.5s ease 0.3s;
}

#foot-logo {
  position: absolute;
  width: 100%;
  height: 14.5vh;
  bottom: 4vh;
  background: url('../img/logo.svg') no-repeat;
  background-position: center;
  background-size: auto 90%;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease 0.3s;
  -moz-transition: opacity 0.5s ease 0.3s;
  transition: opacity 0.5s ease 0.3s;
}

#foot-text-left {
  position: absolute;
  bottom: 0;
  right: 50%;
  text-align: right;
  padding-right: 13vh;
  line-height: 3.5vh;
  height: 10.5vh;
  font-size: 2vh;
  opacity: 0;
  -webkit-transition: bottom 0.5s ease 0.3s, opacity 0.5s ease 0.3s;
  -moz-transition: bottom 0.5s ease 0.3s, opacity 0.5s ease 0.3s;
  transition: bottom 0.5s ease 0.3s, opacity 0.5s ease 0.3s;
}

#foot-text-left i {
  padding-left: 1.5vh;
}

#foot-text-right {
  position: absolute;
  bottom: 0;
  left: 50%;
  padding-left: 13vh;
  line-height: 3.5vh;
  height: 10.5vh;
  font-size: 2vh;
  opacity: 0;
  -webkit-transition: bottom 0.5s ease 0.3s, opacity 0.5s ease 0.3s;
  -moz-transition: bottom 0.5s ease 0.3s, opacity 0.5s ease 0.3s;
  transition: bottom 0.5s ease 0.3s, opacity 0.5s ease 0.3s;
}

#foot-text-right i {
  padding-right: 1.5vh;
}

#foot-mobile i {
  padding-right: 1vh;
  display: inline;
}

#foot-copy {
  color: #92948A;
  height: 3vh;
  line-height: 3vh;
  font-size: 1.2vh;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

#foot-mobile-logo {
  position: absolute;
  bottom: 44.5vh;
  right: 60%;
  width: 9vh;
  height: 9vh;
  background: url('../img/logo.svg') no-repeat;
  background-position: center;
  background-size: auto 100%;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease 0.3s, bottom 0.6s ease 0.3s;
  -moz-transition: opacity 0.6s ease 0.3s, bottom 0.6s ease 0.3s;
  transition: opacity 0.6s ease 0.3s, bottom 0.6s ease 0.3s;
}

#foot-mobile-name {
  position: absolute;
  left: 45%;
  bottom: 44.5vh;
  font-family: 'Russo One', sans-serif;
  font-size: 2.5vh;
  line-height: 3vh;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease 0.3s, bottom 0.6s ease 0.3s;
  -moz-transition: opacity 0.6s ease 0.3s, bottom 0.6s ease 0.3s;
  transition: opacity 0.6s ease 0.3s, bottom 0.6s ease 0.3s;
}

#foot-mobile-copy {
  position: absolute;
  color: #92948A;
  height: 3vh;
  bottom: 0;
  line-height: 3vh;
  font-size: 1.2vh;
  width: 100%;
  text-align: center;
}

#foot a:hover {
  color: #1A3360;
}

#foot-mobile-container {
  position: absolute;
  width: 100%;
  bottom: 0vh;
  padding-left: 3vh;
  padding-right: 3vh;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease 0.5s, bottom 0.6s ease 0.5s;
  -moz-transition: opacity 0.6s ease 0.5s, bottom 0.6s ease 0.5s;
  transition: opacity 0.6s ease 0.5s, bottom 0.6s ease 0.5s;
}

#foot-mobile a {
  background-color: #F4F8E6;
  color: #666;
  padding: 2vh 0;
  margin-bottom: 3vh;
  text-align: center;
  font-size: 2vh;
  width: 100%;
}

.foot-mobile-button-left {
  padding-right: 1.5vh!important;
}

.foot-mobile-button-right {
  padding-left: 1.5vh!important;
}

.form-button, .form-search-button {
  width: 50%;
  margin: 10vh auto;
  height: 7vh;
  line-height: 6.2vh;
  font-size: 2.5vh;
  font-family: 'Russo One', sans-serif;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.15);
  -webkit-transition: background-color 0.5s ease, color 0.5s ease;
  -moz-transition: background-color 0.5s ease, color 0.5s ease;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.form-search-button {
  margin: 0 auto 4vh auto;
}

.form-search-button-container {
  width: 50%;
  margin: auto;
}

#book-content .form-button, #book-content .form-search-button, #schedule-content .form-button, #schedule-content .form-search-button {
  border: 0.5vh solid #1A3360;
  color: #333;
}

#book-content .form-button:hover, #book-content .form-search-button:hover, #schedule-content .form-button:hover, #schedule-content .form-search-button:hover {
  background-color: #1A3360;
  color: #F4F8E6;
  cursor: pointer;
}

.content-box {
  width: 100%;
  height: 100%;
  background-color: #E5EEC1;
  top: 0;
  left: 0;
  -webkit-transition: height 0.5s ease;
  -moz-transition: height 0.5s ease;
  transition: height 0.5s ease;
}

.content-box-img {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

#book-content>.content-box-img, #schedule-content>.content-box-img {
  background: url('../img/clock.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}

.content-box-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  overflow-y: scroll;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.content-box-loader {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  text-align: center;
}

.content-box-loader-inner-container {
  position: relative;
  height: 100%;
  width: 100%;
}

.loader {
  width: 15vh;
  height: 15vh;
  border: 1.5vh solid #F4F8E6;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}

#book-content .loader-inner, #schedule-content .loader-inner {
  background-color: #1A3360;
}

.btn-group {
  width: 100%;
  padding: 10vh 25%;
}

.jconfirm.jconfirm-supervan .jconfirm-box div.jconfirm-title-c {
  font-size: 3.5vh;
  line-height: 1;
  padding-bottom: 0;
}

.jconfirm.jconfirm-supervan .jconfirm-box div.jconfirm-title-c .jconfirm-title {
  font-family: 'Russo One', sans-serif;
  padding-bottom: 5vh;
}

.jconfirm.jconfirm-supervan .jconfirm-box div.jconfirm-content-pane {
  margin-bottom: 5vh;
}

.jconfirm.jconfirm-supervan .jconfirm-box div.jconfirm-content-pane span {
  font-size: 1.7vh;
  line-height: 1.3;
  display: inline-block;
  text-align: justify;
}

.jconfirm.jconfirm-supervan .jconfirm-box div.jconfirm-content-pane ul {
  display: inline-block;
  text-align: left;
}

.jconfirm .jconfirm-box .jconfirm-buttons {
  padding-bottom: 2vh;
}

.jconfirm.jconfirm-supervan .jconfirm-box .jconfirm-buttons button {
  font-family: 'Russo One', sans-serif;
  font-size: 2.5vh;
  border-radius: 0;
  border: 0.5vh solid white;
  padding: 0;
  margin: 0 0.5vh 1vh 0.5vh;
  height: 7vh;
  line-height: 6.2vh;
  background-color: transparent;
  -webkit-transition: background-color 0.5s ease, color 0.5s ease;
  -moz-transition: background-color 0.5s ease, color 0.5s ease;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.jconfirm.jconfirm-supervan .jconfirm-bg {
  background-color: #333;
  opacity: 0.9;
}

.jconfirm .jconfirm-box .jconfirm-buttons button.btn-white-rgz:hover {
  background-color: white;
  color: #333
}

.btn-group>label {
  border-radius: 0;
  width: 50%;
  font-size: 2.5vh;
  font-family: 'Russo One', sans-serif;
  margin: 0;
  border: 0.5vh solid;
  height: 7vh;
  line-height: 6vh;
  overflow: hidden;
}

.btn-primary.focus, .btn-primary.active {
  outline: 0;
  box-shadow: none;
}

#book-content .btn-group>label {
  border-color: #1A3360;
}

#book-content .btn-primary.active {
  background-color: #1A3360;
}

#book-content .btn-primary:not(.active):hover {
  background-color: #1A3360;
}

.btn {
  padding: 0;
}

.btn-group>label:hover {
  cursor: pointer;
}

.btn-primary {
  color: #333;
  background-color: rgba(255, 255, 255, 0.15);
}

.btn-primary.active {
  color: #F4F8E6;
}

#book-counters select, #book-offices select {
  font-family: 'Russo One', sans-serif;
  font-size: 2.5vh;
  color: #333;
  width: 50%;
  margin: 0 25% 4vh 25%;
  height: 7vh;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  background-color: rgba(255, 255, 255, 0.5);
  border-bottom: 0.6vh solid #1A3360;
  text-align-last: center;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

#subj-select {
  font-family: 'Russo One', sans-serif;
  font-size: 2.5vh;
  color: #333;
  height: 7vh;
  line-height: 7vh;
  margin: 0 25% 4vh 25%;
}

#subj-select>div, #subj-select>div>div {
  position: relative;
  display: inline-block;
  height: 7vh;
  float: left;
}

.subj-input-container {
  position: relative;
}

#subj-select input {
  width: 100%;
  height: 7vh;
  font-family: 'Russo One', sans-serif;
  font-size: 2.5vh;
  color: #333;
  margin-bottom: 0;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  background-color: rgba(255, 255, 255, 0.5);
  border-bottom: 0.6vh solid #1A3360;
  text-align-last: center;
  text-align: center;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.subj-1 {
  white-space: nowrap;
  overflow: hidden !important;
}

.subj-2 {
  width: 20%;
}

.subj-3, .subj-5 {
  width: 5%;
  text-align: center;
}

.subj-4 {
  width: 40%;
}

.subj-6 {
  width: 30%;
}

#counter-day-select, #office-day-select, #counter-select, #office-select, #subj-select {
  margin-bottom: 4vh;
}

#book-counter-aux, #book-office-aux {
  padding: 6vh 25% 0 25%;
}

#book-counter-aux select {
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  text-align-last: left;
  margin: 0;
  margin-bottom: 4vh;
  width: 100%;
  padding: 0 2vh;
}

.aux-container input {
  display: block;
  width: 100%;
  font-size: 2.5vh;
  color: #333;
  height: 7vh;
  background-color: rgba(255, 255, 255, 0.5);
  border-bottom: 0.6vh solid #1A3360;
  margin-bottom: 4vh;
  padding: 0 2vh;
}

#book-counter-check, #book-office-check {
  display: inline-block;
  width: 5vh;
  height: 5vh;
  margin-right: 2vh;
  cursor: pointer;
  font-size: 5vh;
  color: #1A3360;
}

.checkbox-label {
  vertical-align: top;
  margin: 0;
  cursor: pointer;
  font-size: 1.7vh;
  line-height: 1.3;
  text-align: justify;
  width: calc(100% - 8vh);
  padding-top: 1.5vh;
}

#schedule-content {
  height: 100% !important;
}

#schedule-content .content-box-content {
  opacity: 1;
  overflow-y: hidden;
}

#schedule-content>.content-box-content>.row {
  width: 100%;
  padding-top: 28.5vh;
}

#schedule-content input {
  width: 100%;
  margin-bottom: 4vh;
  height: 7vh;
  line-height: 7vh;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  background-color: rgba(255, 255, 255, 0.5);
  border-bottom: 0.6vh solid #1A3360;
}

#schedule-content .form-button {
  margin: 0;
  margin-top: 6vh;
  width: 100%;
}

.schedule-navi-button {
  width: 7.2vh;
  height: 7.2vh;
  position: fixed;
  top: 0;
  right: 0;
  color: #666;
  line-height: 7.2vh;
  font-size: 3.3vh;
  text-align: center;
  z-index: 1001;
  -webkit-transition: background-color 0.5s ease, color 0.5s ease;
  -moz-transition: background-color 0.5s ease, color 0.5s ease;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.schedule-navi-button:hover {
  background-color: #1A3360;
  color: white;
  cursor: pointer;
}

#schedule-password-change {
  right: 7.2vh;
}

#password-change-input-box, #print-title {
  height: 7vh;
  width: 100%;
  line-height: 7vh;
  text-align: center;
  color: #333;
}

#schedule-print {
  right: 14.4vh;
}

#timetable {
  opacity: 0;
}

#schedule-searchbar {
  padding-top: 3vh !important;
  display: inline-flex;
}

#schedule-searchbar>div {
  padding: 0 3vh;
}

#schedule-searchbar>div>select, #schedule-searchbar>div>.form-search-button {
  width: 100%;
  margin: 0;
}

#schedule-searchbar>div>select {
  height: 7vh;
  text-align: center;
  text-align-last: center;
  font-family: 'Russo One', sans-serif;
  line-height: 7vh;
  background-color: rgba(255, 255, 255, 0.5);
  color: #333;
}

#timetable .row>div {
  padding: 0 3vh;
}

#timetable .row>.item-indicator, #schedule-header>div:first-child {
  padding: 0 !important;
}

.item-indicator {
  color: darkorange;
}

#schedule-header {
  height: 4vh;
  font-size: 2vh;
  font-weight: 700;
  color: #1A3360;
  border-bottom: 1px solid #1A3360;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

#schedule-items {
  overflow-y: auto;
  max-height: 76vh;
}

#schedule-header>div:last-child, #schedule-header>div:first-child, #schedule-items .schedule-item>div:first-child, #schedule-items .schedule-item>.item-y, #schedule-items .schedule-item>.item-n {
  text-align: center;
}

#schedule-items .schedule-item>.item-y:hover, #schedule-items .schedule-item>.item-n:hover, #schedule-items .schedule-item>.item-y.arrival, #schedule-items .schedule-item>.item-n.arrival {
  cursor: pointer;
  background-color: green;
  color: white;
  -webkit-transition: background-color 0.5s ease, color 0.5s ease;
  -moz-transition: background-color 0.5s ease, color 0.5s ease;
  transition: background-color 0.5s ease, color 0.5s ease;
}

#schedule-items .schedule-item>.item-n:hover, #schedule-items .schedule-item>.item-n.arrival {
  background-color: red;
}

#schedule-items .schedule-item>.arrival {
  cursor: default !important;
}

#schedule-items .schedule-item>.arrival-counter:hover {
  cursor: default;
  background-color: transparent;
  color: #333;
}

.item-name {
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.pulse {
  animation: pulsing 1s alternate infinite ease-in;
  -webkit-animation: pulsing 1s alternate infinite ease-in;
}

@keyframes pulsing {
  from {
    opacity: 1
  }
  to {
    opacity: 0
  }
}

.schedule-item {
  height: 7vh;
  line-height: 7vh;
  font-weight: 700;
  -webkit-transition: margin 0.5s ease, background-color 0.5s ease;
  -moz-transition: margin 0.5s ease, background-color 0.5s ease;
  transition: margin 0.5s ease, background-color 0.5s ease;
}

.schedule-item:nth-child(4n+1), .expansion>div {
  background-color: rgba(255, 255, 255, 0.5);
}

.schedule-item:nth-child(4n+3) {
  background-color: rgba(255, 255, 255, 0.15);
}

#schedule-items .expanded {
  background-color: white;
  margin-top: 7vh;
}

.expansion {
  position: relative;
}

.expansion>div {
  margin: 0 0 7vh 7vh;
  padding: 3vh 5vh 1.5vh 5vh;
}

.expansion-info {
  line-height: 4vh;
}

.expansion-label {
  font-weight: 700;
  color: #1A3360;
}

.expansion-info-data {
  padding-left: 5vh;
  margin-bottom: 2vh;
}

@-webkit-keyframes pulsing {
  from {
    opacity: 1
  }
  to {
    opacity: 0
  }
}

#forgot-password {
  text-align: center;
  font-size: 1.7vh;
  line-height: 7vh;
  height: 7vh;
  color: white;
  margin-top: 4vh;
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

#forgot-password:hover {
  cursor: pointer;
  color: #1A3360;
}

@media (min-width: 991.5px) {
  #schedule-searchbar {
    padding-bottom: 3vh;
  }
  #schedule-searchbar>div:first-child {
    padding-right: 0;
  }
  #schedule-searchbar>div:last-child {
    padding-left: 0;
  }
}

@media (max-width: 991.5px) {
  .grecaptcha-badge {
    bottom: 9vh !important;
  }
  #navi {
    min-height: 8vh;
    line-height: 8vh;
  }
  #navi>img {
    height: 6vh;
  }
  #tiles {
    margin-top: 8vh;
    height: 92vh;
  }
  .content-box {
    height: 84vh;
  }
  .schedule #tiles {
    height: 92vh;
  }
  #schedule-content {
    height: 100% !important;
  }
  #schedule-content>.content-box-content>.row {
    padding-top: 29vh;
  }
  .schedule-navi-button {
    width: 8.2vh;
    height: 8.2vh;
    line-height: 8.2vh;
  }
  #schedule-password-change {
    right: 8.2vh;
  }
  #schedule-print {
    right: 16.4vh;
  }
  #schedule-searchbar>div {
    padding-bottom: 3vh;
  }
  #schedule-items {
    max-height: 75vh;
  }
  .btn-group {
    padding: 10vh 5vh;
  }
  .jconfirm .jconfirm-box .jconfirm-buttons button.btn-white-rgz {
    background-color: white;
    color: #333
  }
  #book-counters, #book-offices {
    padding: 0 5vh;
  }
  #book-counter-aux, #book-office-aux {
    padding: 6vh 0 0 0;
  }
  #book-counters select, #book-offices select, #subj-select, .form-search-button-container {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
  .form-button, .form-search-button {
    margin-right: 0;
  }
  #book-content .form-button, #book-content .form-search-button, #schedule-content .form-button, #schedule-content .form-search-button {
    background-color: #1A3360;
    color: #F4F8E6;
  }
}

@media (max-width: 766.5px) {
  #schedule-header {
    height: 6vh;
    font-size: 3.5vh;
  }
  #schedule-items {
    max-height: 73vh;
  }
}

@media (max-width: 767.5px) and (min-width: 766.5px) {
  #schedule-header i, #schedule-header #slash {
    display: none;
  }
}

@media (min-width: 1px) {
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    padding-right: 0;
    padding-left: 0;
  }
  .row {
    margin-right: 0;
    margin-left: 0;
  }
}